.wrapper {
  margin: 0 auto;
  padding: 24px;
  max-width: 1024px;
}

.card-list {
  display: flex;
  flex-direction: column;
}

@media(min-width: 321px) {
  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

